<%- include('../partials/header'); %>

<main class="main main-beers container">
    <h2 class="text-center text-capitalize">Hi, these are my <%= name %></h2>
    <section class="section section-beers mt-5">
        <div class="row">
            <h3 class="text-center pb-5s"> To read more about each beer, click on the images or texts below</h3>
            <% data.forEach(item => { %>
                <div class="col-md-4">
                    <figure class="figure figure-beer">
                        <a href="/beers/<%= item.id %>">
                            <img src="<%= item.image %>" alt="<%= item.title %>" class="img-fluid fig-image">
                            <figcaption class="figcaption figcap-beer"> <span class="text-danger">Name: </span><%= item.name %></figcaption>
                        </a>
                        <p class="figcaption"> Price:
                            <a href="#"> <%= item.price %></a>
                        </p>
                    </figure>
                </div>
            <% }) %>
        </div>
    </section>
</main>

<%- include('../partials/footer'); %>